.landing-page {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.landing-title {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-bottom: 15px;
  font-size: 50px;
  color: white;
}
