input {
  border-radius: 5px;
  height: 35px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 3px;
}

div .home {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div .home button {
  margin-top: 3px;
}

div .nav {
  margin-top: 25px;
}
