h1 {
  text-decoration: none;
  color: gray;
  margin-top: 25px;
}

.widget-container {
  margin: 15px;
  display: inline-block;
  /* min-height: 200px;
    min-width: 200px; */
  justify-content: center;
  text-align: center;
  text-decoration: "none";
}

img {
  margin-bottom: 15px;
  size: large;
  min-height: 150px;
}

.img {
  min-height: 100px;
}
