.container {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px;
    margin: 5px;
    display: inline-block;
    min-height: 200px;
    min-width: 200px;
    justify-content: center;
    text-align: center;
}


img {
    margin: 10px;
    size: large;
}